<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="ru.relex"/>

    <!-- Карты перемещений игроков -->
    <bean id="movesCatchPlayer" class="ru.relex.movelist.CatchPlayerMoveList"/>
    <bean id="movesEscapePlayer" class="ru.relex.movelist.EscapePlayerMoveList"/>

    <!-- Игроки -->
    <bean id="catchPlayer" class="ru.relex.player.Player">
        <constructor-arg name="moveList" ref="movesCatchPlayer"/>
        <constructor-arg name="positions">
            <list>
                <value>7</value>
                <value>9</value>
                <value>10</value>
            </list>
        </constructor-arg>
        <constructor-arg name="icon" value="X"/>
        <constructor-arg name="name" value="Player 1"/>
    </bean>
    <bean id="escapePlayer" class="ru.relex.player.Player">
        <constructor-arg name="moveList" ref="movesEscapePlayer"/>
        <constructor-arg name="positions">
            <list>
                <value>5</value>
            </list>
        </constructor-arg>
        <constructor-arg name="icon" value="*"/>
        <constructor-arg name="name" value="Player 2"/>
    </bean>

    <!-- Управление игроками -->
    <bean id="playerManager" class="ru.relex.player.PlayerManager">
        <constructor-arg name="catchPlayer" ref="catchPlayer"/>
        <constructor-arg name="escapePlayer" ref="escapePlayer"/>
    </bean>

    <!-- Правила игры, основная логика -->
    <bean id="rules" class="ru.relex.game.GameRules">
        <constructor-arg name="playerManager" ref="playerManager"/>
    </bean>

    <!-- Отрисовка пользовательского интерфейса на консоли -->
    <bean id="consoleRenderer" class="ru.relex.console.ConsoleRenderer"/>

    <!-- Репозитории  -->
<!--    <bean id="gameRepository" class="ru.relex.db.Repository.GameRepository"/>-->
<!--    <bean id="moveRepository" class="ru.relex.db.Repository.MoveRepository"/>-->

    <!-- Хранилище (Репозитории, что в аргументах конструктора создаются автоматически)  -->
    <bean id="gameStore" class="ru.relex.db.GameStore">
        <constructor-arg name="gameRepository" ref="gameRepository"/>
        <constructor-arg name="moveRepository" ref="moveRepository"/>
    </bean>

    <!-- Игра -->
    <bean id="game" class="ru.relex.game.GameMain">
        <constructor-arg name="consoleRenderer" ref="consoleRenderer"/>
        <constructor-arg name="rules" ref="rules"/>
        <constructor-arg name="gameStore" ref="gameStore"/>
    </bean>

    <!-- Команды меню -->
    <bean id="commandNewGame" class="ru.relex.menu.NewGameCommand">
        <constructor-arg name="consoleRenderer" ref="consoleRenderer"/>
        <constructor-arg name="rules" ref="rules"/>
        <constructor-arg name="gameStore" ref="gameStore"/>
    </bean>
    <bean id="commandLoadGame" class="ru.relex.menu.LoadGameCommand"/>
    <bean id="commandExit" class="ru.relex.menu.ExitCommand"/>
</beans>